body {
	font-family: verdana;
}

.shadow-container {
	border: 1px solid silver;
	overflow: hidden;
	border-radius: 2px;
	box-shadow: -1px 1px DarkGray;
	margin-bottom: 10px;
}

/* ----- Navigation ----- */

#top-nav-wrapper {
	position: relative;
	background-color: #484848;
	padding-top:20px;
}

.navbar-brand {
	position: relative;
	left: 4px;
}

#top-nav button {
	height: 34px;
}

#main-menu {
	bottom: 1px;
	margin-right: 16px;
	width: 120px;
	display: inline-table;
}

#main-menu button {
	font-weight: bold;
	font-variant: small-caps;
	display: block;
	bottom: -10px;
}

.dropdown-menu li a:hover{
	background-color: #ddd;
}

.nav-tabs {
	border-bottom: none;
	font-weight: bold;
	font-variant: small-caps;
}

#ideo-tabs {
	position: relative;
	bottom: -11px;
}

.nav-tabs li a {
	height: 40px
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li a:focus {
	color :#fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.nav-tabs .open a,
.nav-tabs .open a:hover,
.nav-tabs .open a:focus,
.nav-tabs li a:hover,
.nav-tabs li a:focus {
	color: #484848;
	background-color: Gainsboro;
	border-color: transparent;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	color: #484848;
	background-color: #fff;
	border-color: silver;
	border-bottom-color: transparent;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 2px 0 0 0 black;
}

#quality-btns {
	font-variant: small-caps;
	position: relative;
	bottom: -8px;
}

#quality-btns button:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #909090;
	border: 1px solid #484848;
}

#quality-btns button:first-child.active {
	background-color: #a0d6a0;
	color: black;
	/* box-shadow: inset -1px 0 10px; */
	border: transparent;
}

#quality-btns button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #909090;
	border: 1px solid #484848;
}

#quality-btns button:last-child.active {
	background-color: #eaa2a0;
	color: black;
	/* box-shadow: inset 1px 0 10px; */
	border: transparent;
}

.navbar-form {
	 box-shadow: none;
}

#search-menu-btn {
    border-radius: 0;
}

#search {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#search-input {
	width: 170px;
}

#login {
	border-radius: 8px;
	margin-left: 20px;
}

.modal-div {
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.modal h4 {
	text-align: center;
	margin-bottom: 20px;
}

.form-signup {
	text-align: center;
}

.form-signup input {
	display: inline-block;
}

#nul-inputUsername {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#nul-inputEmail {
    margin-top: -1px;
    margin-bottom: -1px;
    border-radius: 0px;
}
#nul-inputPassword {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#btnSignUp {
	margin-top: 10px;
}

#nul-warning {
	margin-top: 20px;
	color: red;
	font-size: 12px;
	text-align: center;
}

#switch-signin {
	float: left;
	display: inline-block;
}

#switch-signup {
	float: left;
	display: none;
}

#ul-inputUsername {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#ul-inputPassword {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	margin-top: -1px;
}

#btnSignIn {
	margin-top: 10px;
}

#signin-div {
	display: none;
}

#signup-div {
	display: block;
}

/* ----- Arrow Box ----- */

.arrow-box {
	position: relative;
	/* padding: 20px; */
	width: 100px;
	height: 100px;
	margin-right: 0px;
	display: inline-table;
	/* border: 1px solid silver; */
	margin: 1px;
	float: left;
	top: -15px;
}

.left-arrow {
	position: absolute;
	top: 40%;
	left: 22px;
}

.left-arrow .glyphicon {
	color: #484848;
}

.left-arrow a:hover span {
	color: #0099cc;
}

.right-arrow {
	position: absolute;
	top: 40%;
	left: 61px;
}

.right-arrow .glyphicon {
	color: #484848;
}

.right-arrow a:hover span {
	color: #ff4444;
}

.up-down-arrows {
	position: absolute;
	text-align: center;
	list-style: none;
	width: 34px;
	left: 32px;
	top: 20px;
}

.up-down-arrows .glyphicon {
	color: #484848;
}

.up-down-arrows a:hover .glyphicon-chevron-up {
	color: #00c851;
}

.up-down-arrows a:hover .glyphicon-chevron-down {
	color: #ffbb33;
}

/* ----- Icons ----- */

.veri-icon {
	position: absolute;
	bottom: -12px;
	left: 8px;
}

.glyphicon.glyphicon-ok-sign {
	font-size: 24px;
	color: #00c851;
}

.ideo-icon {
	position: absolute;
	bottom: -12px;
	right: 8px;
}

.glyphicon.glyphicon-circle-arrow-left {
	font-size: 24px;
	color: #0099cc;
}

.comment-icon {
	position: absolute;
	bottom: -12px;
	right: 8px;
}

.glyphicon.glyphicon-comment {
	color: #484848;
}

.info-icon {
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.glyphicon.glyphicon-info-sign {
	font-size: 24px;
	color: #484848;
}

/* ----- Article Stuff ----- */

.article-container {
	height: 103px;
}

.article-box {
	position: relative;
	overflow: hidden;
	height: 60px;
	margin: 1px;
	/* border: 1px solid silver; */
	padding: 0px;
}

.article-box:hover {
	background-color: gainsboro;
	box-shadow: none;
}

.article-title {
	font-variant: small-Caps;
	white-space: normal;
	
}

.article-title a {
	color: #484848;
	display: block;
	padding: 5px;
	height: 60px;
}

.article-title a:hover {
	text-decoration: none;
}

.info-box {
	position: relative;
	padding: 0px;
	overflow: hidden;
	height: 38px;
	margin: 1px;
}

.block-list li {
	padding: 0px;
}

.block-list li:last-child {
}

.block-list li a {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #484848;
	font-weight: bold;
}

.block-list li a:hover {
	background-color: gainsboro;
	text-decoration: none;
	color: #484848;
}

.article-tag {
	float: right;
}

.article-tag a {
	font-variant: small-caps;
	color: white !important;
	font-size: 12px;
	border: 1px solid #2e6da4;
	border-radius: 4px;
	background-color: #337ab7;
	padding: 5px !important;
	margin: 5px;
	min-width: 26px;
}

.article-tag a:hover {
	background-color: #2e6da4 !important;
}

