body {
	padding-top: 70px;
	font-family: verdana;
	min-width: 768px;
}

#top-nav-wrapper {
	position: fixed;
	background-color: #455a64;
	padding-top:10px;
}

#top-nav {
	position:relative;
	bottom:-9px;
	white-space: nowrap;
}

.navbar-brand {
	position: relative;
	left: 4px;
}


#main-menu {
	bottom: 6px;
	margin-right: 16px;
	width: 120px;
	display: inline-table;
}

#main-menu button {
	font-family: verdana;
	font-weight: bold;
	font-variant: small-caps;
	display: block;
	bottom: -10px;
}

.dropdown-menu li a:hover{
	background-color: #ddd;
}

.nav-tabs {
	border-bottom: none;
	font-family: verdana;
	font-weight: bold;
	font-variant: small-caps;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li a:focus {
	color :#fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.nav-tabs .open a,
.nav-tabs .open a:hover,
.nav-tabs .open a:focus,
.nav-tabs li a:hover,
.nav-tabs li a:focus {
	color: #455a64;
	background-color: Gainsboro;
	border-color: transparent;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	color: #455a64;
	background-color: #fff;
	border-color: silver;
	border-bottom-color: transparent;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 2px 0 0 0 Gray;
}

#advanced-search {
	position:relative;
	bottom:12px;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

#search {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#login {
	border-radius: 8px;
	margin-left: 20px;
}

.article-container {
	border: 1px solid silver;
	margin: 5px;
	height: 100px;
	overflow: hidden;
	border-radius: 2px;
	box-shadow:  -1px 1px DarkGray;
}

.arrow-box {
	position: relative;
	padding: 20px;
	width: 100px;
	height: 100px;
	margin-right: 0px;
	display: inline-table;
	
}

.left-arrow {
	position: absolute;
	top: 40%;
	left: 22px;
}

.left-arrow .glyphicon {
	color: #455a64;
}

.left-arrow a:hover span {
	color: #0099cc;
}

.right-arrow {
	position: absolute;
	top: 40%;
	left: 61px;
}

.right-arrow .glyphicon {
	color: #455a64;
}

.right-arrow a:hover span {
	color: #ff4444;
}

.up-down-arrows {
	position: absolute;
	text-align: center;
	list-style: none;
	width: 34px;
	left: 32px;
	top: 20px;
}

.up-down-arrows .glyphicon {
	color: #455a64;
}

.up-down-arrows a:hover .glyphicon-chevron-up {
	color: #00c851;
}

.up-down-arrows a:hover .glyphicon-chevron-down {
	color: #ffbb33;
}

.article-box {
	position: relative;
	left: 0px;
	top: 0px;
	padding: 5px;
	height: 100px;
	display: inline-table;
	width: 45%;
	max-height: 80px;

}

.article-title {
	font-variant: small-Caps;
	white-space: normal;
	max-width: 600px;
	word-wrap: break-word;
}

.article-link {
	font-style: italic;
	font-size: 0.875em;
}

.image-wrapper {
	float: right;
	width: 200px;
	height: 100px;
	
}

.image-box {
	padding: 4px;
	width:100px;
	height: 100px;
	text-align: right;
	clear: right;
	display: inline-table;
}

.image-box img {
	border-radius: 6px;
}
