

body {
	padding-top: 50px;
}

#menu {
	padding-right: 20px;
	max-height: 51px;
	overflow: hidden;
}

#sidebar {
	margin-top: 70px;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

#search-menu a:hover{
	background-color: #ddd;
}

#search {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#login {
	border-radius: 8px;
	margin-left: 20px;
}

#arrow .list-group {
	margin-bottom: 0px;
}

.article-container {
	border: 1px solid grey;
	margin: 5px;
	height: 100px;
	border-radius: 6px;
	white-space: nowrap;
	overflow: hidden;

}

.arrow-box {
	position: relative;
	padding: 20px;
	width: 100px;
	height: 100px;
	margin-right: 0px;
	display: inline-table;
	
}

.left-arrow {
	position: absolute;
	top: 40%;
	left: 22px;
}

.left-arrow .glyphicon {
	color: grey;
}

.left-arrow a:hover span {
	color: blue;
}

.right-arrow {
	position: absolute;
	top: 40%;
	left: 61px;
}

.right-arrow .glyphicon {
	color: grey;
}

.right-arrow a:hover span {
	color: red;
}

.up-down-arrows {
	position: absolute;
	text-align: center;
	list-style: none;
	width: 34px;
	left: 32px;
	top: 20px;
}

.up-down-arrows .glyphicon {
	color: grey;
}

.up-down-arrows a:hover .glyphicon-chevron-up {
	color: #5cb85c;
}

.up-down-arrows a:hover .glyphicon-chevron-down {
	color: orange;
}

.article-box {
	position: relative;
	left: 0px;
	top: 0px;
	padding: 5px;
	height: 100px;
	display: inline-table;
	width: 45%;
	max-height: 80px;

}

.article-title {
	font-variant: small-Caps;
	white-space: normal;
	max-width: 600px;
	word-wrap: break-word;
}

.article-link {
	font-style: italic;
	font-size: 0.875em;
}

.image-wrapper {
	float: right;
	width: 200px;
	height: 100px;
	
}

.image-box {
	padding: 5px;
	width:100px;
	height: 100px;
	text-align: right;
	clear: right;
	display: inline-table;
}

.image-box img {
	border-radius: 6px;
}
