<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Meta News</title>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="../static/css/newswebsite.css" rel="stylesheet">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../static/js/newswebsite.js"></script>
	</head>
	<body>
		<div id="menu" class="navbar navbar-fixed-top navbar-default">
			<div class ="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Meta News</a>
				</div>
				<div id="click-tabs">
					<ul class="nav nav-tabs navbar-left">
						<li><a href="#recommended">Recommended</a></li>
						<li class="active"><a href="#popular">Popular</a></li>
						<li><a href="#new">New</a></li>
					</ul>
					<ul class="nav nav-tabs navbar-left">
						<li><a href="#left">Left</a></li>
						<li class="active"><a href="#neutral">Neutral</a></li>
						<li><a href="#right">Right</a></li>
					</ul>
					<ul class ="nav nav-tabs navbar-left">
						<li class="active"><a href="#legit">Legit</a></li>
						<li><a href="#fake">Fake News</a></li>
					</ul>
				</div>
				<div class="input-group navbar-right" id="advanced search">
					<div class="navbar-form">
						<input type="text" class="form-control" placeholder="Search">
						<div class="input-group-btn">
							<div class="btn-group" role="group">
								<div class="dropdown dropdown-1g">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu" id="search-menu">
										<li><a href="#">All</a></li>
										<li><a href="#">Articles</a></li>
										<li><a href="#">Journalists</a></li>
										<li><a href="#">Publishers</a></li>
									</ul>
									<button id="search" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
									<button id="login" type="button" class="btn btn-success"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content-wrapper" class="container-fluid">
			<div class="row">
				<div class="col-sm-9">
					<div class="article-container">
						<div id="arrow-box">
							<div id="left-arrow">
								<a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
							</div>
							<div id="up-down-arrows-wrapper">
								<ul class="list-group" id="up-down-arrows">
									<li><a href="#" ><span class="glyphicon glyphicon-chevron-up"></span></a>
									<li>999</li>
									<li><a href="#" ><span class="glyphicon glyphicon-chevron-down"></span></a>
								</ul>
							</div>
							<div id="right-arrow">
								<a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
							</div>
						</div>
						<div id="article-box">
							<div id="article-title">
								<a href="http://i.imgur.com/CBe8OPH.jpg">Instrument. If you upvote this it will show up on google images when people search "instrument" .</a>
							</div>
							<div id="article-link">
								<a href="http://i.imgur.com/CBe8OPH.jpg">http://i.imgur.com/CBe8OPH.jpg</a> ~ 
								<a href="#comments">1235 Comments</a>
							</div>
						</div>
						<div id="image-box">
							<img src=http://www.post-gazette.com/image/2015/01/12/ca57,11,2080,2034/GeraldoRivera.jpg style="width:90px;height:90px;"></img>
						</div>
					</div>
					
			    </div>
			    <div class="col-sm-2">
			    	<!-- ADS -->
			    </div>
			</div>
		</div>
	</body>
</html>
